body{
    background-color: wheat;
}
.navbar-nav{
    font-size: 20px;
   
}
.row {
   position: relative;
  top: 55px;
}

.sidenav {
    width: 90%;
    position: relative;
    /* z-index: 1; */
    /* top: 50px; */
    /* left: 10px; */
    background: #eee;
    overflow-x: hidden;
    font-size: 15px;
    
    /* padding: 8px 0; */
  }
  button{
      width: 50px;
  }
  .carousel{
      width:50%;
     margin:auto;
  }
